body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}
header {
    background-color: #1f1f1f;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}
header .logo h1{
    margin: 0;
    color: #e0e0e0;
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-links li {
    margin: 0 1rem;
}
.nav-links a {
    text-decoration: none;
    color: #e0e0e0;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #9c27b0;
}
main {
    padding: 2rem;
    text-align: center;
}
footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #333;
}
footer p {
    margin: 0;
    color: #757575;
}